@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    align-content: center;
    background-color: #000000;
}

button {
    background-color: #0572dc;
    color: beige;
    border-color: antiquewhite;
    width: 80px;
    height: 38px;
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    background-color: #0059a9;
    width: 83px;
    height: 41px;
}

.wrapper {
    margin-left: 40%;
    margin-right: 40%;
}

.typewriter h1 {
    display: block;
    margin: 5px;
    font-family: "Roboto Mono", monospace;
    color: beige;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}